* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

header {
  width: 100%;
}

#logo {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 700;
}

main {
  width: 100%;
}

#container {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

#container h1 {
  font-size: 3.2rem;
}

#container h2 {
  font-size: 2.4rem;
}

#container #post p {
  font-size: 1.6rem;
}