* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

header {
  width: 100%;
}

#logo {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 700;
}

main {
  width: 100%;
}

#container {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 1.6rem;
  color: #3b3b3b;
}

#container h1 {
  font-size: 3.2rem;
}

#container h2 {
  font-size: 2.4rem;
  margin-top: 10px;
}

/* Información: Autor, fecha, tiempo */
/* ********************************* */
#info {
  margin: 20px 0;
}

#autor {
  display: inline-block;
}

/* Post */
/* **** */
#post {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h2 + p { /* Párrafos debajo de un h2 */
  margin-left: 30px;
}

a {
  color: #239587;
  font-weight: 700;
  text-decoration: none;
}